In [1]:
import torch
import pandas as pd
import pickle
import numpy as np
import plotly.express as px

In [2]:
full = pd.read_pickle("../data/ml-20m-split/full.pkl")

In [3]:
full

            user   item  item_id  rating   timestamp
0              0      1        2     3.5  1112486027
1              0     28       29     3.5  1112484676
2              0     31       32     3.5  1112484819
3              0     46       47     3.5  1112484727
4              0     49       50     3.5  1112484580
...          ...    ...      ...     ...         ...
20000258  138492  13754    68954     4.5  1258126920
20000259  138492  13862    69526     4.5  1259865108
20000260  138492  13875    69644     3.0  1260209457
20000261  138492  13993    70286     5.0  1258126944
20000262  138492  14277    71619     2.5  1255811136

[20000263 rows x 5 columns]

In [ ]:
freqs = full.groupby("user").size().reset_index().rename(columns={0: "num_items"})

In [ ]:
item_freqs = full.groupby("item").size().reset_index().rename(columns={0: "num_users"})

In [ ]:
item_freqs

In [ ]:
ratings_count = item_freqs["num_users"].sum()
core_count = item_freqs[item_freqs["num_users"] >= 20]["num_users"].sum()
(ratings_count - core_count) / ratings_count

In [ ]:
item_count = item_freqs.shape[0]
sparse_count = item_freqs[item_freqs["num_users"] < 20].shape[0]
sparse_count / item_count

In [ ]:
freqs["num_items"].median()

In [ ]:
item_freqs["num_users"].median()

In [ ]:
freqs.shape[0] / item_freqs[item_freqs["num_users"] >= 200].shape[0]

In [ ]:
item_freqs[item_freqs["num_users"] >= 100].shape[0] / item_count

In [ ]:
fig = px.histogram(freqs[freqs["num_items"] <= 500], x="num_items", nbins=100)
#fig = px.histogram(freqs[freqs["num_items"] <= 500], x="num_items", nbins=100, cumulative=True, histnorm="percent")
#fig = px.histogram(item_freqs[item_freqs["num_users"] <= 1000], x="num_users", cumulative=True, histnorm="percent")

In [ ]:
fig.show()

In [ ]:
fig = px.histogram(item_freqs[item_freqs["num_users"] <= 100], x="num_users", histnorm="probability density")
fig.show()

In [ ]:
full

In [ ]:
fig = px.histogram(full, x="rating", histnorm="probability density")

In [ ]:
rating_counts = np.zeros(10)
for idx, rating in enumerate(full["rating"]):
  rating_counts[int(rating * 2) - 1] += 1
  if idx % 1000000 == 0:
    print(idx)

In [ ]:
rating_counts

In [ ]:
rating_tuples = list(zip(np.linspace(0.5, 5, 10), rating_counts))

In [ ]:
rating_counts_df = pd.DataFrame(rating_tuples)

In [ ]:
rating_counts_df

In [ ]:
fig = px.bar(rating_counts_df, x=0, y=1)

In [ ]:
fig.show()